* {
    box-sizing: border-box;
}

.wrapper {
    background-color: gainsboro;
    height: 550px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;             // align items on the row.
    // align-content: stretch;             // align rows
}

.box {
    width: 100px;
    // height: 100px;
    background-color: red;
    border: 1px solid black;
    font-size: 30px;
}

.box1 {
    background-color: red;
    flex-grow: 1; // 1/12 of the width (at 100%) 
}

.box2 {
    background-color: red;
    flex-grow: 1;
    flex-basis: 300px;  // min-width
}

.box3 {
    width: 400px;
    background-color: blue;
    color: ghostwhite;
    flex-grow: 4;
    // align-self: flex-end;
    align-self: center;
}

.box4 {
    background-color: red;
    flex-grow: 1;
}

.box5 {
    background-color: red;
    flex-grow: 1;
}

.box6 {
    width: 250px;
    background-color: yellow;
    flex-grow: 4;
}