.header {
  background-color: yellow;
}
.header ul {
  padding: 0;
  margin: 0;
}
.header ul li {
  display: inline-block;
  padding: 10px 15px;
  list-style: none;
}

.submenu.blue {
  background-color: blue;
  transition: all 1s;
}
.submenu.nav li {
  list-style: none;
}
.submenu.sky ul {
  padding: 0;
}
.submenu:hover {
  background-color: yellow;
  transition: all 1s;
}
