header {
    background-color: var(--deep-purple);
    color: var(--off-white);
    overflow: auto; /*what does this do???*/
    font-size: 16px;
    padding: 12px 70px;
}
header a {
    color: var(--off-white);
    text-decoration: none;
}
header a:hover {
    color: #fff;
}

.logo {
    float: left;
    margin-left: 40px;
}
.logo-1 {
    font-size: 1.4em;
}
.logo-2 {
    font-size: 0.8em;
    padding-left: 25px;
}

nav {
    float: right;
    margin-top: 10px;
}

.btn {
    padding: 7px 25px;
    text-align: center;
    font-size: 0.8em;
}
.register-btn {
    background-color: var(--pink);
    border: 1px solid var(--pink);
    color: var(--off-white);
    border-radius: 5px;
}
