body {
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    width: 100vw;
    height: 100vh;
    background: darkolivegreen;
}

.grid-container {
    width: 98vw;
    height: 96vh;
    border: 1px solid pink;
}

/* .grid-item {
    font-weight: 700;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid white;
} */


.grid-item-1, .grid-item-4 {
    background: royalblue;
}

.grid-item-2, .grid-item-5 {
    background: aqua;
}

.grid-item-3 {
    background: blueviolet;
}