################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/kudvenkat/angular2course1/A2Demo01/.vs/A2Demo01/v15/Server/sqlite3/db.lock
/kudvenkat/angular2course1/starter-files
/codingphase/jsoop/JSActivity01/.vs/JSActivity01/v15/Server/sqlite3/db.lock
