* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gainsboro;
}

.view {
    margin-left: 35px;
    margin-top: 25px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid gray;
    height: 95vh;
    width: 95vw;
}

.parent {
    background-color: yellow; /* property */
    padding: 50px;
    width: 100%; /* property */
    opacity: 1; /* property */
    transition: background-color 0.5s ease-in-out,
                width 1.2s ease-in-out;
    /* transition: opacity 1.5s ease-in-out; */
}

.parent:hover {
    background-color: red;
    width: 50%;
    /* opacity: 0; */
}

.child {
    background-color: black;
    height: 300px;
    /* transition: all 2s ease-in-out; */
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.child:hover {
    background-color: blue;
}