html {
    box-sizing: border-box;
    // matching font size to browser default. usu. 16px.
    font-size: 100%; 
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 13%);
    color: hsl(0, 0%, 100%);
}