body {
    display: flex;
}

.box {
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    margin: 20px;
}

/* custom media query */

/* not currently supported without procss. */
@custom-media --big  (width >= 400px);

@media (--big) {
    .box {
        background: red;
    }
}
