body {
    display: flex;
}

.box {
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    margin: 20px;
}

.main {
    flex-grow: 1;
}

.sidebar {
    width: 30%;
    border-left: 1px solid black;
}

/* container query */
.main,
.sidebar {
    container-type: inline-size;
}

@container (width>=600px) {
/* @media (width>= 600px) { */
    .box {
        background-color: red;
    }
}
