nav {
    width: 400px;
    margin: 0 auto;
}

nav a {
    background-color: black;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid gray;
    background: gainsboro;
}

.wrapper {
    /* remove height when using flex-stretch */
    height: 580px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    /* space evenly in row and column */
    justify-content: space-evenly;

    align-items: flex-end;
    align-items: center;
    /* align-items: stretch; */
}

.box {
    width: 100px;
}

.box-2 {
    width: 300px;
    /* note how all other boxes are width compressed */
    width: 500px;
}

.box-3 {
    width: 200px;
    /* note how all other boxes are width compressed */
    width: 400px;
}