body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
}

h1 {
    font-weight: 100;
    font-size: 50px;
}

.wrapper {
    display: grid;
    // four columns.
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 600px 75px;
    // make all rows a minimum of 200px
    // or as high as it needs to cover content.
    // grid-auto-rows: minmax(200px, auto);
}

.box {

}

.box-1 {
    background-color: red;
    // height: 200px;
}

.box-2 {
    background-color: yellow;
}

.box-3 {
    background-color: purple;
    color: ghostwhite;
}

.box-4 {
    background-color: blue;
    color: ghostwhite;
}

.box-5 {
    background-color: orange;
}

.box-6 {
    background-color: grey;
    color: ghostwhite;
}