body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  position: relative;
}

h1 {
  font-weight: 100;
  font-size: 50px;
}

.container {
  max-width: 1200px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 80px auto 270px 20px 20px 20px 20px 20px;
  gap: 20px;
}

.box {
  border: 5px solid green;
  padding: 20px;
}

.box-1 {
  background-color: red;
  grid-column: 1/13;
  grid-row: 1/2;
  height: 35px;
  text-align: center;
  justify-content: center;
}
.box-1 nav {
  width: 400px;
  display: block;
  margin: 0 auto;
  justify-items: center;
}
.box-1 nav a {
  background-color: black;
  color: ghostwhite;
}

.box-2 {
  background-color: yellow;
  grid-column: 10/13;
  grid-row: 2/7;
}

.box-3 {
  background-color: purple;
  color: ghostwhite;
  grid-column: 1/4;
  grid-row: 3/7;
}

.box-4 {
  font-size: 1.35rem;
  background-color: blue;
  color: ghostwhite;
  grid-column: 1/10;
  grid-row: 2/3;
}

.box-5 {
  background-color: orange;
  grid-column: 4/10;
  grid-row: 3/7;
}

.box-6 {
  background-color: grey;
  color: ghostwhite;
  grid-column: 1/13;
  grid-row: 7/11;
}

@media screen and (max-width: 1200px) {
  .box-2 {
    grid-column: 1/13;
    grid-row: 7/18;
  }
  .box-3 {
    grid-column: 1/6;
  }
  .box-4 {
    grid-column: 1/13;
  }
  .box-5 {
    grid-column: 6/13;
  }
  .box-6 {
    grid-row: 18/20;
  }
}
@media screen and (max-width: 768px) {
  .box-3 {
    grid-column: 1/13;
    grid-row: 4/7;
  }
  .box-4 {
    font-size: 1.1remm;
  }
  .box-5 {
    grid-column: 1/13;
    grid-row: 3/4;
  }
}
@media screen and (max-width: 567px) {
  .box4 {
    font-size: 0.9rem;
  }
}
