body {
    background-color: red;
}

div {
    border: 1px solid pink;
    position: relative;
}

.courier {
    font-family: Courier New, Courier, monospace;
}

.box {
    width: 100%;
    background-color: greenyellow;
}

.boxb {
    height: 300px;
    width: 300px;
    background-color: gainsboro;
}

.tbox {
    width: 50%;
    min-width: 350px;
    height: 100%;
    background-color: azure;
    padding: 2px;
}

.tbox2 {
    width: 600px;
    height: 50px;
    background-color: blue;
    margin: 10px;
}