nav {
    width: 400px;
    margin: 0 auto;
}

nav a {
    background-color: black;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid gray;
    background: gainsboro;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    flex-direction: row-reverse;
}