body {
    font-size: 64px;
    color: purple;
}

/*
    p - selector
    color - property
    purple - property value
    color: purple - declaration

    on the whole: called a ruleset, or simply a rule

    you can valid a css file online.
    ttps://jigsaw.w3.org/css-validator/
*/