/* block elements you can specify width and height */
/* block elements you must have content or specify height. width goes completely 
* across page */
span {
    color: red;
    width: 300px;   /* inline element - no effect! */
    height: 100px;  /* inline element - no effect! */
    border: 1px solid green;
}

.done {
    display: block;
    width: initial;
    height: 100px;  /* block element */
    border: 1px solid greenyellow;
}

p {
    display: inline; 
    width: 300px;   /* forced inline element - no effect */
    height: 100px; /* forced inline element - no effect */
    border: 1px solid green;
}

h1 {
    width: 100px; /* block element */
    height: 100px; /* block element */
    border: 1px solid green;
}

h2 {
    background-color: brown;
}

