body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
}

h1 {
    font-weight: 100;
    font-size: 50px;
}

.wrapper {
    display: grid;
    // two columns. lines 1, 2, 3
    grid-template-columns: 1fr 1fr;
    // three rows. lines 1, 2, 3, 4
    grid-auto-rows: minmax(200px, auto);
    // when using justify-items, all elments are inline before justifying.
    justify-items: flex-end;
    // when using align-items, all elements are inline before alignment.
    align-items: center;
}

.box {
    border: 5px solid green;
}

.box-1 {
    background-color: red;
    // stretch the moved Box 1 down two slots.
    grid-row: 1 / 4;
}

.box-2 {
    background-color: yellow;
}

.box-3 {
    background-color: purple;
    color: ghostwhite;
}

.box-4 {
    background-color: blue;
    color: ghostwhite;
    // move box to first row, first column.
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.box-5 {
    background-color: orange;
}

.box-6 {
    background-color: grey;
    color: ghostwhite;
}