* {
    box-sizing: border-box;
}

.wrapper {
    background-color: gainsboro;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; // space evenly with space in start and end
    // justify-content: center;    // push to middle of container
    // justify-content: flex-end;  // push to end of container
    // justify-content: flex-start;   // push to beginning of container
}

.box {
    width: 100px;
    height: 100px;
    background-color: red;
    border: 1px solid black;
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: red;
}

.box3 {
    width: 400px;
    background-color: blue;
}

.box4 {
    background-color: red;
}

.box5 {
    background-color: red;
}

.box6 {
    width: 250px;
    background-color: yellow;
}