body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    position: relative;
}

h1 {
    font-weight: 100;
    font-size: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

// to make grid system emulate bootstrap 
//  1. adopt a 12 col system. update grid-template-columns, grid-column, etc.
//  2. optional. use bootstrap breakpoints.
//
// Breakpoint  Class   Dimensions 
// X-Small     None    <576px 
// Small       sm      ≥576px 
// Medium      md      ≥768px 
// Large       lg      ≥992px 
// Extra       xl      ≥1200px 
// 2X large    xxl     ≥1400px

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px auto 270px 20px 20px 20px 20px 20px;
    // grid-auto-rows: minmax(200px, auto);
    gap: 20px;
}

.box {
    border: 5px solid green;
    padding: 20px;
}

.box-1 {
    background-color: red;
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    // fix the height.
    height: 35px;
    text-align: center;
    justify-content: center;

    nav {
        width: 400px;
        display: block;
        margin: 0 auto;
        justify-items: center;
        a {
            background-color: black;
            color: ghostwhite;
        }
    }
}

.box-2 {
    background-color: yellow;
    grid-column: 10 / 13;
    grid-row: 2 / 7;
}

.box-3 {
    background-color: purple;
    color: ghostwhite;
    grid-column: 1 / 4;
    grid-row: 3 / 7;
}

.box-4 {
    background-color: blue;
    color: ghostwhite;
    grid-column: 1 / 10;
    grid-row: 2 / 3;
}

.box-5 {
    background-color: orange;
    grid-column: 4 / 10;
    grid-row: 3 / 7;
}

.box-6 {
    background-color: grey;
    color: ghostwhite;
    grid-column: 1 / 13;
    grid-row: 7 / 11;
}