<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8" />
    <title>AngularJS Exercise</title>
    <style>
        li {
            list-style: none;
        }
    </style>
</head>
<!--
    Make sure you NuGet the AngularJS package.
-->
<!-- 
    Most used angularjs directives:
    ng-app      ng-true-value       ng-if
    ng-bind     ng-false-value      ng-controller
    ng-init     ng-options          ng-view
    ng-show     ng-click
    ng-hide     ng-model
-->
<body ng-init="a=12;b=[1,56,78,45]">
    <div>
        {{5+3}}
        {{a+5}}
        {{a*a}}
    </div>

    <ul ng-repeat="k in b">
        <!--
     <li>{{k}}</li>
    -->
        <li ng-if="k>50;">{{k}}</li>
    </ul>

    <script src="Scripts/angular.min.js"></script>
</body>
</html>