
/*
   * Flex shorthand.
    * grow - how this element will grow in relations to others in content.
    * shrink - how this element will shrink in relations to others in content.
    * basis - what is the starting width/height.
    *
    * CHECK IT OUT! THE POWER!
    *
// Keyword values
flex: auto;
flex: initial;
flex: none;
// One value, unitless number: flex-grow
flex: 2;
// One value, width/height: flex-basis
flex: 10em;
flex: 30%;
flex: min-content;
// Two values: flex-grow | flex-basis
flex: 1 30px;
// Two values: flex-grow | flex-shrink
flex: 2 2;
// Three values: flex-grow | flex-shrink | flex-basis
flex: 2 2 10%;
// Global values 
flex: inherit;
flex: initial;
flex: unset;
*/



* {
    box-sizing: border-box;
}

div:nth-of-type(2) {
    flex-basis: 200px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper {
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: black;
}

.box {
/*   width: 100px; 
    height: 100px; */
    border: 1px solid black;
    background-color: red;
}

.box1 {
    width: 75px;
    height: 150px;
    background-color: blue;
    align-self:flex-end;
}

.box2 {
    width: 150px;
    height: 400px;
    background-color: red;
    align-self: center;
}

.box3 {
    width: 50px;
    height: 200px;
    background-color: orange;
    align-self:flex-start;
}

.box4 {
   width: 150px;
 /*   height: 250px; */
    background-color: darkcyan;
    align-self: stretch;
}

.box5 {
    width: 150px;
    height: 300px;
    background-color: darkgoldenrod;
    align-self: flex-start;
}

.box6 {
    width: 100px;
    height: 400px;
    background-color: yellow;
    align-self: flex-end;
}

