@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
}

article {
  width: 33.3333333333%;
  float: left;
  padding: 5 20px;
}

aside {
  width: 66.6666666667%;
  float: right;
}
aside img {
  width: 100%;
}

.container {
  width: 800px;
  margin: 0 auto;
}