body {
font-family: 'Bitter', serif;
    background-color: lightblue;
}

main {
    width: 1000px;
    font-size: 20px;
    color: white;
}

/* inherit - default from parent */
/* inherit the color from main. override font-size */
section p {
    font-size: 50px;
    color: inherit;
}

/* inherit the font-size from main. NOT section p. override color */
.p2 {
    font-size: inherit;
    color: teal;
}

h1 {
    font-size: 60px;
    background-color: teal;
    text-align: center;
}