<div id="movie-page">
    <div class="movie-bg"></div>
    <div class="container">
        <div class="movie-content">
            <div class="row">
            <div class="col-md-3">
                <div class="movie-poster"></div>
            </div>
            <div class="col-md-6">
                <h1 style="font-size:32px; margin-bottom:1rem">STAR WARS: The Rise of Skywalker</h1>
                <div style="margin-bottom:1rem;opacity:0.7">Release Date: 3/19/2019</div>
                <p>Following a threat of revenge by the resurrected Emperor 
                    Palpatine, Kylo Ren obtains a Sith wayfinder that leads to 
                    the planet Exegol. There, he finds a physically impaired 
                    Palpatine, who reveals that he created Snoke to rule the 
                    First Order and lure Kylo to the dark side. Palpatine unveils 
                    the Final Order—a massive armada of Sith Star Destroyers—and 
                    orders Kylo to find and kill Rey, who is continuing her Jedi 
                    training under Resistance leader Leia Organa. Poe Dameron 
                    and Finn deliver intelligence from a spy in the First Order 
                    that Palpatine is on Exegol; Rey reads in Luke Skywalker's 
                    notes that a Sith wayfinder can lead them there. Rey, Finn, 
                    Poe, Chewbacca, BB-8, and C-3PO depart in the Millennium 
                    Falcon to Pasaana, to find a clue that can lead them to a 
                    wayfinder.</p>
            </div>
            <div class="col-md-3">
                <div class="btn btn-primary">Get Tickets</div>
            </div>            
            </div>
        </div>
    </div>
</div>
