* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #222;
}

.container {
    border: 5px solid lightseagreen;
}

.cell {
    padding: 2rem;
    background: #dedede;
    color: olivedrab;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    border: 1px solid lightgreen;
}