<div class="testing-box">
  <!-- <button type="button" class="btn btn-primary">primary</button>
  <button type="button" class="btn btn-danger">danger</button>
  <button type="button" class="btn btn-warning">warning</button>
  <button type="button" class="btn btn-success">success</button> -->
  <master-button [type]="'primary'" (alertType)="alertType($event)">
      <img class="psb" src="./assets/petshopboyx5.jpg">
      <p class="label">Pet Shop Boys</p>
  </master-button>
  <!-- <master-button [type]="'danger'" [title]="'Delete'"></master-button>
  <master-button [type]="'warning'" [title]="'Warning'"></master-button>
  <master-button [type]="'success'" [title]="'Success'"></master-button> -->
</div>