* {
    margin: 0;
    padding: 0;
}
/* 
    Flexbox - parent elements placed on flex containers
        display, flex-direction, justify-content, align-items, 
        flex-wrap, column-gap, row-gap, gap

    Flexbos - child elements placed on flex items
        align-self, margin, flex
*/

.box-container {
    font-family: 'Lato', san-serif;
    font-size: 15px;
    color: #fff;
    width: 100vw;
    height: 100vh;
    background-color: indianred;
}

.boxset {
    width: 75%;
    height: 50%;
    margin: 0 auto;
    border: 1px solid ghostwhite;
}

/* 
display
flex-direction 
*/

/* Flex container */
.boxset1 {
    display: flex;
    flex-direction: row;
}
/* Flex container */
.boxset2 {
    display: flex;
    flex-direction: column;
}

.box {
    width: 145px;
    height: 75px;
    padding-top: 5px;
    padding-left: 5px;
    border: 2px solid gainsboro;
    background-color: red;
}

/* Flex items of boxset1 flex container */
.box1-1 {
    display: inline-block;
}
.box1-2 {
    display: inline-block;
}
.box1-3 {
    display: inline-block;
}
.box1-4 {
    display: inline-block;
}

/* Flex items of boxset1 flex container */
.box2-1 {
    display: inline-block;
}
.box2-2 {
    display: inline-block;
}
.box2-3 {
    display: inline-block;
}
.box2-4 {
    display: none;
}