* {
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    background-color: #fff;
}

.container {
    width: 800px;
    height: 700px;
    background-color: gainsboro;
    position: relative;
}

.bar {
    width: 700px;
    height: 80px;
    margin: 5px auto;
    position: relative;
    color: #fff;
}

.header {
    background-color: grey;
}

.nav {
    background-color: blueviolet;
}

.split {
    width: 700px;
    height: 160px;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: row;
}

.sect {
    width: 50%;
    height: 100%;
    background-color: burlywood;
}

.section {
    height: 50%;
    background-color: blue;
}

.article {
    height: 50%;
    background-color: red;
}

.aside {
    width: 50%;
    height: 100%;
    background-color: orange;
}

.footer {
    background-color: green;
}
