body {
    background-color: #5742f5;
}

.container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box1 {
    background-color: red;
}
.box2 {
    background-color: yellow;
}
.box3 {
    background-color: greenyellow;
    height: 200px;
}
.box4 {
    background-color: deepskyblue;
}
.box5 {
    background-color: orange;
}
.box6 {
    background-color: mediumpurple;
    color: white;
}

