body {
    background-color: #5742f5;
}

.container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 120px 30px;
    grid-auto-rows: minmax(200px, auto);
}

.box1 {
    background-color: red;
}
.box2 {
    background-color: yellow;
}
.box3 {
    background-color: greenyellow;
}
.box4 {
    background-color: deepskyblue;
}
.box5 {
    background-color: orange;
}
.box6 {
    background-color: mediumpurple;
    color: white;
    opacity: 0.6;
}

